/* Start  Home Style */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.body{
  padding-bottom: 50px;
}
.navbar-light .navbar-toggler {
  margin-top: -5px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(94, 97, 99);
  color: white;
  text-align: center;
}
footer p {
  margin-top: 10px;
}
@media (min-width: 992px) {
  #navbarSupportedContent ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #navbarSupportedContent ul li:not(:last-child) {
    border-right: solid 1px rgb(146, 137, 137);
  }
}
/* End Home Style */

/* Start Main Page Style */
.home-page-options ul{
  background: rgb(112, 191, 228);
  margin-left: 25%;
  padding: 35px;
  max-width: 90%;
  margin-left: 5%;
  margin-top:30px;
}
.home-page-options li {
  padding: 10px;
  list-style: none;
  margin: 2px;
  background: black;
  text-align: center;
  border: solid 1px white;
  cursor: pointer;
}
.home-page-options li:hover {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.685);
}
.home-page-options a:hover {
  text-decoration: none;
  color: white;
}
.home-page-options a {
  color: rgb(238, 237, 237);
  font-size: 17px;
  text-decoration: none;
}
@media (min-width: 680px) {
  .home-page-options {
    max-width: 30%;
    margin-left: 35%;
  }
}
/* End Main Page Style */
