<form method="post">
    <div class="form-group has-success">
        <label for="example-text-input text-success" class="col-12 col-form-label ">
            <h3 class="text-danger ml-2">Mange Image Details Main Slider:</h3>
        </label>
        <label for="example-text-input text-success " class="col-lg-2 col-form-label mt-2">
            <h4 class="text-primary pl-2">Order:</h4>
        </label>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 mb-3">
            <input class="form-control" type="number" name="order" id="example-text-input">
        </div>      
        <label for="example-text-input text-success " class="col-12 col-form-label mt-1">
            <h3 class="text-danger pl-2 ml-2">Description:</h3>
        </label>
        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2 text-success">-Text-</h4>
        </label>
        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2">Top Title:</h4>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="city" id="example-text-input">
        </div>
        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2">Bottom Title:</h4>
        </label>
        <label for="example-text-input text-success " class="col-12 col-form-label mt-1">
            <h3 class="text-danger pl-2 ml-2">image:</h3>
        </label>
        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2 text-success">-data-</h4>
        </label>
        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2">Image URL:</h4>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="city" id="example-text-input">
        </div>
        <label for="example-text-input text-success " class="col-12 col-form-label">
            <h4 class="text-primary pl-2">link to:</h4>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="street" id="example-text-input">
        </div>

        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 mt-3">
            <input class="btn btn-success btn-lg" type="submit" value="Submit">
        </div>

    </div>

</form>