    <h2 class="text-center text-danger">MainPage Options</h2>
    <h2 class="text-center text-success">CRUD</h2>

<div class="edit-search-options">
    <ul>
        <a href="/home-page/main-slider"><li>Main Slider</li></a>
        <a href="/home-page/arrow-slider"><li>Arrow Slider</li></a>
        <a href="/home-page/auto-slider"><li>Auto Slider</li></a>
        <a href="/home-page/circle-section"><li>Circle Section</li></a>
        <a href="/home-page/golden-cards"><li>Golden Cards</li></a>
     </ul>
</div>