    <h2 class="text-center text-danger"> {{title}} Section</h2>
    <h2 class="text-center text-success">CRUD For UKSouq</h2>

<div class="edit-search-options">
    <ul>
        <a href="/home-page/{{linkTitle}}/view"><li>View</li></a>
        <a href="/home-page/{{linkTitle}}/add"><li>Add</li></a>
        <a href="/home-page/{{linkTitle}}/edit"><li>Edit</li></a>
 
     </ul>
</div>